<h1>Listing customers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <!--Replaced number_to_currency-->
        <td>$<%= number_with_precision(customer.total_sales, precision: 2) %></td>
        <!--Replaced number_to_currency-->
        <td><%= link_to 'Show', customer %></td>
        <td><a href="<%= edit_customer_path(customer) %>" class="button">Edit</a></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a href="<%= new_customer_path %>" class="button">New Customer</a>
