<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @sale.amount %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @sale.tax %>
</p>

<p>
  <strong>Customer</strong>
  <%= @sale.customer.name %>
</p>

<p>
  <strong>Tax:</strong>
 $<%= number_with_precision(@sale.tax, presicion: 2) %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<a href="<%= new_sale_path %>" class="button">New Sale</a>
